@tailwind base;
@tailwind components;
@tailwind utilities;

.startingpg {
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  
}

.history{
  background-image: url("images/Background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  
}

.team{
  background-image: url("images/Background3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}
